<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <title> SSAFY 서울 2반 게시판 </title>
</head>
<body>
    <h1 class="display-4 my-3 mx-3" style="font-family: 'Noto Sans KR', sans-serif;"> SSAFY 서울 2반 </h1>
    
    <form class="mx-3" action="/create">
        <div class="form-group row">
            <div class="input-group mx-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">제목</span>
                </div>
                <input type="text" name="Title" aria-label="Title" class="form-control" placeholder="제목을 입력하세요.">
            </div>
        </div>
        <div class="form-group row">
            <div class="input-group mx-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">내용</span>
                </div>
                <input type="text" name="Content" aria-label="Content" class="form-control" placeholder="내용을 입력하세요.">
            </div>
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <table class="table my-3 mx-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">제목</th>
          <th scope="col">내용</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
            <tr>
                <th scope="row">{{d[0]}}</th>
                <td>{{d[1]}}</td>
                <td>{{d[2]}}</td>
                <td>
                    <a href="/edit/{{d[0]}}" class="badge badge-secondary">수정</a>
                    <a href="/delete/{{d[0]}}" class="badge badge-secondary">삭제</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    
</body>
</html>