{% extends 'articles/base.html' %}

{% block title %}
<title>글 목록</title>
{% endblock %}
    
{% block body %}
<form action="{% url 'articles:new' %}" class="m-3">
    <button type="submit" class="btn btn-primary">새 글 작성</button>
</form>

<table class="table table-hover m-3">
  <thead>
    <col width="100">
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">글쓴이</th>
    </tr>
  </thead>
  <tbody>
    {% for a in articles %}
        <tr>
            <th scope="row">{{a.id}}</th>
            <td><a href="{% url 'articles:detail' article_id=a.id %}">{{a.title}}</a></td>
            <td>{{a.author}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
