{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>영화 정보 조회</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4"><img src="{{movie.poster_url}}" alt="Movie Poster" width="250" height="300"> {{movie.movie_name_ko}}</h1>
        <p class="lead"> {{movie.genre}} | {{movie.showTm}}분| {{movie.openDt}} 개봉 | {{movie.watch_grade_nm}} | 누적관객: {{movie.audience}}명</p>
        <p class="lead"> 감독: {{movie.directors}}</p>
        <p class="lead"> 출연: {{movie.actors}}</p>
        <hr class="my-4">
        <p>{{movie.description}}</p>
        <a class="btn btn-primary" href="{% url 'movies:movie_list' %}" role="button">목록</a>
    </div>
</div>
{% endblock %}

{% block container %}

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">서울</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for key, value in theater_code.items %}
                    <td><a href="./?theaterCode={{ key }}" >{{ value }}</a></td>
                    {% if forloop.counter == 6 or forloop.counter == 12 or forloop.counter == 18 or forloop.counter == 24 or forloop.counter == 30 %}
                        </tr>
                        <tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=x8w0y9djtb&callback=initMap"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=x8w0y9djtb&submodules=geocoder"></script>
<div class="mb-5" id="map" style="width:100%;height:400px;"></div>

<script type="text/javascript">
    var map = new naver.maps.Map('map', {
        zoomControl: true,
        zoomControlOptions: {
            style: naver.maps.ZoomControlStyle.LARGE,
            position: naver.maps.Position.TOP_RIGHT
        },
        mapTypeControl: true,
        center: new naver.maps.LatLng({{ y_axis }},{{ x_axis }}),
        zoom: 11
    });

    var restaurants = {{ restaurants | safe }}

    var markers = []
    var links = []

    for (var i = 0; i < restaurants.length; i++) {
        var rt = restaurants[i]

        if (rt['category'].includes('중식')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/chinese.png' %}',
                    size: new naver.maps.Size(50, 33)
                }
            }));
        }
        else if (rt['category'].includes('인도')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/indian.png' %}',
                    size: new naver.maps.Size(50, 41)
                }
            }));
        }
        else if (rt['category'].includes('햄버거')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/burger.png' %}',
                    size: new naver.maps.Size(40, 37)
                }
            }));
        }
        else if (rt['category'].includes('양식') || rt['category'].includes('스테이크') || rt['category'].includes('스페인')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/western.png' %}',
                    size: new naver.maps.Size(50, 39)
                }
            }));
        }
        else if (rt['category'].includes('일식') || rt['category'].includes('회') || rt['category'].includes('초밥')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/japanese.png' %}',
                    size: new naver.maps.Size(50, 39)
                }
            }));
        }
        else if (rt['category'].includes('국수')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/noodle.png' %}',
                    size: new naver.maps.Size(50, 36)
                }
            }));
        }
        else if (rt['category'].includes('카페')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/cafe.png' %}',
                    size: new naver.maps.Size(50, 38)
                }
            }));
        }
        else if (rt['category'].includes('치킨')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/chicken.png' %}',
                    size: new naver.maps.Size(50, 33)
                }
            }));
        }
        else if (rt['category'].includes('이탈리아') || rt['category'].includes('파스타')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/italian.png' %}',
                    size: new naver.maps.Size(50, 42)
                }
            }));
        }
        else if (rt['category'].includes('술') || rt['category'].includes('바')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/bar.png' %}',
                    size: new naver.maps.Size(50, 54)
                }
            }));
        }
        else if (rt['category'].includes('고기')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/pork.png' %}',
                    size: new naver.maps.Size(50, 38)
                }
            }));
        }
        else if (rt['category'].includes('한식') || rt['category'].includes('뷔페')) {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
                icon: {
                    url: '{% static 'img/korean.png' %}',
                    size: new naver.maps.Size(40, 42)
                }
            }));
        }
        else {
            markers.push(new naver.maps.Marker({
                title: rt['title'] + "\n" + rt['category'],
                position: new naver.maps.LatLng(rt['y_axis'], rt['x_axis']),
                map: map,
            }));
        }

        links.push(rt['link'])
        naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
    }

    function getClickHandler(seq) {
        return function(e) {
            var link = links[seq]
            if (link){
                window.open(link)
            }
        }
    }

    var marker = new naver.maps.Marker({
        title: '{{ theater }}',
        position: new naver.maps.LatLng({{ y_axis }},{{ x_axis }}),
        map: map,
        icon: {
            url: '{% static 'img/cgv_logo.png' %}',
            size: new naver.maps.Size(50, 20)
        }
    });

    console.log(marker)

</script>

<h2>영화 평가 목록</h2>


{% if user.is_authenticated %}

<form method="POST" action= "{% url 'movies:create_score' movie.id %}">
  {% csrf_token %}
    <div>
        <ul>
          <li> 평가 <input type="text" class="form-control" name="content" placeholder="평가를 입력해주세요."></li>
          <li> 평점 <input type="number" class="form-control" name="value" placeholder="평점을 선택해주세요."></li>
        </ul>
      <button type = "submit" class="btn btn-dark" >등록하기</button>
    </div>
</form>
<hr>

{% else %}
<form method="POST" action= "{% url 'accounts:login' %}">
  {% csrf_token %}
    <div>
        <ul>
          <li> 평가 <input type="text" class="form-control" name="content" placeholder="로그인 후 이용가능한 서비스입니다."></li>
          <li> 평점 <input type="number" class="form-control" name="value" placeholder="로그인 후 이용가능한 서비스입니다."></li>
        </ul>
      <button type = "submit" class="btn btn-light" >로그인</button>
    </div>
</form>
<hr>

{% endif %}

<div class="list-group">
    {% for score in movie.score_set.all %}
      <a href="{% url 'accounts:detail' score.user.id %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">평가 : {{ score.content}}</h5>
          <small>{{ score.created_at }}</small>
        </div>
        <h5 class="mb-1">  ★★★★★ : {{score.value}}</h5>
        <small>  작성자 : {{ score.user.username }}</small>

          <div>
              {% if user == score.user %}
                <hr>
                <form method="POST" action="{% url 'movies:delete' movie.id score.id %}" style="display:inline">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-dark">삭제</button>
                </form>

                <form method="GET" action="{% url 'movies:update' movie.id score.id %}" style="display:inline">
                  <button type="submit" class="btn btn-dark">수정</button>
                </form>
              {% endif %}
          </div>
      </a>
{% endfor %}
</div>

{% endblock %}