{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block container %}

<title>Signup</title>

<div class="card" style="width: 60rem;">
    <img src="{% static 'accounts/signup.png' %}"  height="230" class="card-img-top" >
    <div class="card-body">

        <form method="post" novalidate>
            {% csrf_token %}
            {{ signup_form | crispy }}
            <input type="submit" value="회원가입" class="btn btn-dark" />
        </form>

    </div>
</div>

{% endblock %}