<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/update/{{article.id}}">
        제목 : <input type="text" name="title" value="{{article.title}}"/>
        내용 : <input type="text" name="content" value="{{article.content}}"/>
        <input type="submit" value="Submit"/>
    </form>

</body>
</html>