header {
    background-image: url("assets/banner.png");
    height: 350px;
    width: 100%;
}

footer {
    height: 50px;
    width: 100%;
    background-color: rgb(219, 219, 219);
}

body {
    font-family: 'Jua', sans-serif;
}

.font_jua {
    font-family: 'Jua', sans-serif;
}

.font_gugi {
    font-family: 'Gugi', cursive;
}
