<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/result">
        <select name="sel">
            <option value="1">한글 -> 영어</option>
            <option value="2">영어 -> 한글</option>
        </select>
        <hr>
        <p>번역할 단어를 입력하세요.</p>
        <textarea rows="10" cols="50" name="word"></textarea>
        <input type="submit" value="번역"/>
    </form>
</body>
</html>