<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <title>영화 목록</title>
</head>
<body>
    <form action="/movies/new" class="m-3">
        <button type="submit" class="btn btn-primary">새 영화 등록</button>
    </form>
    
    <table class="table table-hover m-3">
      <thead>
        <col width="100">
        <col width="150">
        <tr>
          <th scope="col">#</th>
          <th scope="col">영화 포스터</th>
          <th scope="col">제목</th>
          <th scope="col">평점</th>
        </tr>
      </thead>
      <tbody>
        {% for m in movies %}
            <tr>
                <th scope="row">{{m.id}}</th>
                <td><img src="{{m.poster_url}}" alt="Movie Poster" width="125" height="150"></td>
                <td><a href="/movies/{{m.id}}">{{m.title}}</a></td>
                <td>{{m.score}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</body>
</html>